@charset "utf-8";
/*common*/
body,h1,h2,h3,p,ul,ol,form,fieldset,figure{margin: 0; padding: 0;}
body{width:100%; margin:0 auto;background: #fff; font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Droid Sans Fallback', 'Microsoft Yahei', sans-serif;}
img{display: block;border: none;}
ul,ol{list-style: outside none none;}
a{text-decoration: none;}
button{border:none;}
/*横幅*/
.sy-a{background: url("../images/hf-bg.jpg");height:30px;}
.sy-b{position:absolute;float:left;font-size:13px;padding-left:50px;height:30px;line-height:30px;}
.sy-c{float:right;padding-right:50px;height:30px;line-height:30px;}
.sy-a a{color:#173653;text-decoration: none;font-weight: bold;}
.sy-a a:hover{color:#FFAC12;text-decoration: none;font-weight: bold;}
/*logo*/
.banner {height:150px;background:url(../images/header_bg.png) no-repeat;margin-bottom:-28px;padding-top:10px;}
.search{position:absolute;right:10px;top:140px;width: 323px;height: 31px;border:none;}
/* 搜索框  */
.search-form-input{margin-top:0;width:200px;height:28px;color:#ccc;border: 1px solid #c5c3d5;float:left;}
.search-form-btn{background:url(../images/ANNIU4.png) no-repeat;border: none;width:80px;height:30px;padding-bottom:10px;}
/* 导航条  */
.head-nav-ul{margin:0;padding:0;list-style:none;height:50px;padding-left:30px;border-bottom:10px solid #ffab11;}
.head-nav-ul li{float:left;margin-top:20px;}
.on{background:url(../images/daohangtiao.jpg);text-decoration:none;display:block;height:30px;line-height:30px;width:120px;color:#FFFFFF;font-family:"微软雅黑";font-weight:bold;font-size:18px;margin-bottom:1px;text-align:center;}
#on,a:hover{background-position:0 30px;}
.project-list{display: none;position: absolute;}
.jiu-list{margin:0;padding:0;background-color:rgba(255, 172, 18, 0.6);width:120px;height:90px;position:relative;z-index:999;}
.project-list ul li{height:30px;line-height:30px;width:121px;margin: 0 auto;}
.project-list ul li a{text-decoration:none;    display: block;width: 100%;text-align: center;}
.project-list ul li a,a:hover{color:white;}
.project-list a{font-family:微软雅黑;font-size:18px;}
