<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
</head>
<body>
<% include ./common/head.html %>
<div class="wholebody">
    <div class="pic-wall">
        <div class="left-pic"><img src="/images/big eyes.jpg" alt="左图"></div>
        <div class="middle-up-pic"><img alt="中上" src="/images/bird.jpeg"></div>
        <div class="middle-down-pic"><img alt="中下" src="/images/fish.jpeg"></div>
        <div class="right-pic"><img alt="中下" src="/images/light.jpg"></div>
    </div>
    <div class="words1">
        <span style="font-family:Gadugi Bold">About us</span>
    </div>
    <div class="words2">
        <span style="font-family:微软雅黑;">网站为社会各界爱心人士提供捐赠爱心的平台</span>
    </div>
    <div class="words3">
        <span style="font-family:微软雅黑;">实现爱心物资使用情况的透明化</span>
    </div>
    <div class="words4">
        <span style="font-family:微软雅黑;">童心漂流公益平台，由中南民族大学2014级信息管理与信息系统17小组开发</span>
    </div>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>
