<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
</head>
<body>
<% include ./common/head.html %>
<div class="wholebody">
    <div class="kuang">
        <div class="contact-us-words"><span style="font-family:微软雅黑">联　系</span></div>
        <div class="contact-us-picture"><img alt="联系我们" src="/images/contact2.jpg"></div>
    </div>
    <div class="kuang1">
        <div class="contact1"><span style="font-family:微软雅黑">联　系</span></div>
        <div class="message1"><span style="font-family:微软雅黑">留　言</span></div>
    </div>
    <div class="kuang2">
        <div class="contact2">
            <h2 > &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:微软雅黑">联系</span></h2>
            <div class="contact-3">
                <span class="w1">ADDRESS</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="w1 w2">湖北省武汉市中南民族大学</span><br><br>
                <span class="w1">POSTALCODE</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="w1 w2">430074</span><br><br>
                <span class="w1">PHONE</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="w1 w2">800-820-8820</span><br><br>
                <span class="w1">EMAIL</span> &nbsp;&nbsp;&nbsp;&nbsp;<span class="w1 w2">123345634@163.com</span><br>
            </div>
        </div>
        <div class="message2">
            <h2><span style="font-family:微软雅黑">给我们留言</span></h2>
            <div class="board">
                <form name="form1" method="post" action="" target="_self">
                    <input type="hidden" name="Words" value="YES">
                    <!-- <div>您的姓名<input type="text" name="u-name"></div><br><br>
                    <div>您的邮箱<input type="text" name="u-email"></div> -->
                    <div style="margin:10px;">反馈内容</div>
                    <textarea rows="3" cols="28" name="Content"></textarea>
                    <div class="contact-button">
                        <input type="submit" value="提交反馈">
                        <div class="board">由于您当前未登录只能查看留言，<br>请您登陆后再进行留言操作！现在就去<a href="login.jsp">登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>
