<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目总览</title>
    <link rel="stylesheet" href="/stylesheets/zxf_page.css">
</head>
<body>
<% include ./common/head.html %>

<div class="wholebody" >
    <div class="project-body">
        <!-- 项目总目录  -->
        <div class="contents">
            <div class="title-1">
                <span>项目分类</span>
            </div>
            <div>
                <ul class="project-ul">
                    <li><a href="project_toll.jsp">   >   点亮童心（玩具）</a></li>
                    <li><a href="project_book.jsp">   >   梦想启航（书籍）</a></li>
                </ul>
            </div>
        </div>
        <!-- 捐赠方式  -->
        <div class="donate-way">
            <div class="title-2">
                <span>捐赠方式</span>
            </div>
            <div class="goods">
                <input type="button" value="捐赠物资">
                <img alt="手" src="/images/hand.png">
            </div>
        </div>
        <!-- 联系我们  -->
        <div class="contact-us">
            <div class="title-3">
                <span>联系我们</span>
            </div>
            <div class="content-words">
                <span>地址：湖北省武汉市中南民族大学</span><br>
                <span>邮政编码：430074</span><br>
                <span>联系电话：800-820-8820</span><br>
                <span>邮箱：123345634@163.com</span><br>
            </div>
        </div>
        <!-- 项目展示 -->
        <div class="show-items">
            <div class="title-4">
                <span>项目展示</span>
            </div>
            <form action="" method="post" target="_self">
                <div class="project-search">
                    项目名称:&nbsp;<input type="text" name="pname">	&nbsp;&nbsp;&nbsp;&nbsp;
                    项目状态：<select name="pstate">
                    <option value="执行中">执行中</option>
                    <option value="发起中">发起中</option>
                    <option value="募捐中">募捐中</option>
                    <option value="审核中">审核中</option>
                    <option value="已结束">已结束</option>
                </select>
                </div><br>
                <div class="chaxun">
                    <input type="submit" value="查询">
                </div>
            </form>
            <% include ./common/projectItem.html %>
            <!--<div class="window-body">-->
                <!--<div class="window">
                    <div class="img"><img alt="pic-1" src="/myapp/admin/uploadimg/4cbcdef1-0976-4858-9022-45c2b7039016.jpg"></div>
                    <div class="introduce">
                        <p>项目名称 | hello小孩<br></p>
                        <p>项目简介 | 帮助贫困地区和处在困境中的孩子的公益项目xgfb<br></p>
                        <p>   项目时间 | 2017-3-21至2019-3-21<br></p>
                        <p>   项目状态 | 发起中</p>
                    </div>
                    <div class="guanzhu-button">
                        <img alt="plus" src="/images/plus.png">
                        <span style="background: #ff9224;padding:2px 7px;">加关注</span>
                    </div>
                    <div class="guanzhu-button juanzhu-button">
                        <img alt="plus" src="/images/juanzhu-1.png">
                        <span>我要捐助</span>
                    </div>
                </div>-->

            <!--</div>-->
            <!--<div class="yema">-->
                <!--<div class="zxf_pagediv"></div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<script src="/javascripts/index.js"></script>

</body>
</html>
