<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><% title %></title>
    <link rel="stylesheet" href="/stylesheets/zxf_page.css">
</head>
<body>
<% include ./common/head.html %>
<!-- 玩具图片  -->
<div class="wholebody">
    <div class="toll-banner">
        <img alt="toll" src="/images/C-book.jpg">
        <div class="words"><span>梦想启航（书籍）>></span></div>
    </div>
    <div class="toll-show">
        <% include ./common/projectItem.html %>
    </div>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>
