<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=project[0].pname%></title>
</head>
<body>
<% include ./common/head.html %>
<div class="wholebody" >

    <!-- 春蕾计划大图 -->
    <div class="big-pic">
        <img alt="春蕾计划" src="<%=project[0].bigpic%>">
    </div>
    <div class="chunlei-introduce">新闻动态</div>
    <div class="chunlei-news">项目介绍</div>
    <div class="left-kuang">
        <ul>
            <%news.map(function(item,index,array){%>
            <li>
                <a href="/news/details/<%=item.newsId%>"><%=item.title%></a>
            </li>
            <%})%>
        </ul>
    </div>
    <div class="right-kuang">
        <h2><%=project[0].pname%></h2>
        <p class="p1"><%=new Date(project[0].createTime).getFullYear()%>-
            <%=new Date(project[0].createTime).getMonth()+1<10?'0'+(new Date(project[0].createTime).getMonth()+1):new Date(project[0].createTime).getMonth()+1%>-
            <%=new Date(project[0].createTime).getDate()<10?'0'+new Date(project[0].createTime).getDate():new Date(project[0].createTime).getDate()%>&nbsp;
            <%=new Date(project[0].createTime).getHours()<10?'0'+new Date(project[0].createTime).getHours():new Date(project[0].createTime).getHours()%>:
            <%=new Date(project[0].createTime).getMinutes()<10?'0'+new Date(project[0].createTime).getMinutes():new Date(project[0].createTime).getMinutes()%>
            <span class="pipe">|</span>
            发布者: <a href="#"><%=project[0].name%></a>
            <span class="pipe">|</span>
            查看: <%=project[0].pv%>
            <span class="pipe">|</span>
            评论: <%=project[0].comments%></p>
        <%=project[0].description%>

        <div class="footer-comment">
            <ul>
                <li>
                    <a class="S_txt2" href="javascript:void(0);">
                        <em class="collect"> </em>
                        <em><%=project[0].comments%></em>
                    </a>
                </li>
                <li>
                    <a class="S_txt2" href="javascript:void(0);">
                        <em class="collect"> </em>
                        <em>留言</em>
                    </a>
                </li>
                <li>
                    <a class="S_txt2" href="javascript:void(0);">
                        <em class="collect">û</em>
                        <em>收藏</em>
                    </a>
                </li>
            </ul>
        </div>

        <div class="make " style="display: block;overflow: hidden;">
            <img src="/images/d9e5634djw1east9pi6bej2050050dfw.jpg" style="float: left">
            <form style="margin-left: 10px;">
                <input type="text" style="height: 40px;float: left;width: 600px;">
                <button type="submit" style="width: 200px;float: right;">发表评论</button>
            </form>

        </div>

        <!--评论列表-->
        <div class="comment">
            <h2>评论列表</h2>
            <div class="com-item">
                <ul>
                    <li>
                        <h3>dhdh &nbsp;&nbsp;2019-06-12</h3>
                        <p>可以上传文件, 在博客主页 : "管理" ----> "文件" .
                        可上传的文件格式有 : .zip .rar .js .css .xml .7z .ico .pdf .ppt .pptx .xap .xpi .swf .apk .cdf .gif .tar .gz .sh .bmp
                        然后记下文件下载地址, 插入到博客的超链里.</p>
                    </li>
                    <li>
                        <h3>dhdh &nbsp;&nbsp;2019-06-12</h3>
                        <p>可以上传文件, 在博客主页 : "管理" ----> "文件" .
                            可上传的文件格式有 : .zip .rar .js .css .xml .7z .ico .pdf .ppt .pptx .xap .xpi .swf .apk .cdf .gif .tar .gz .sh .bmp
                            然后记下文件下载地址, 插入到博客的超链里.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/index.js"></script>
</body>
</html>
