<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=project[0].pname%></title>
</head>
<body>
<% include ./common/head.html %>
<div class="wholebody" >

    <!-- 春蕾计划大图 -->
    <div class="big-pic">
        <img alt="春蕾计划" src="<%=project[0].bigpic%>">
    </div>
    <section class="section-detail">
        <div class="left-kuang">
            <div class="chunlei-introduce">新闻动态</div>
            <ul>
                <%news.map(function(item,index,array){%>
                <li>
                    <a href="/news/details/<%=item.newsId%>"><%=item.title%></a>
                </li>
                <%})%>
            </ul>
        </div>
        <div class="right-kuang">
            <!--<div class="chunlei-news">项目介绍</div>-->
            <h2><%=project[0].pname%></h2>
            <p class="p1"><%=new Date(project[0].createTime).getFullYear()%>-
                <%=new Date(project[0].createTime).getMonth()+1<10?'0'+(new Date(project[0].createTime).getMonth()+1):new Date(project[0].createTime).getMonth()+1%>-
                <%=new Date(project[0].createTime).getDate()<10?'0'+new Date(project[0].createTime).getDate():new Date(project[0].createTime).getDate()%>&nbsp;
                <%=new Date(project[0].createTime).getHours()<10?'0'+new Date(project[0].createTime).getHours():new Date(project[0].createTime).getHours()%>:
                <%=new Date(project[0].createTime).getMinutes()<10?'0'+new Date(project[0].createTime).getMinutes():new Date(project[0].createTime).getMinutes()%>
                <span class="pipe">|</span>
                发布者: <a href="#"><%=project[0].name%></a>
                <span class="pipe">|</span>
                查看: <%=project[0].pv||0%>
                <span class="pipe">|</span>
            </p>
            <%=project[0].description%>

            <div class="footer-comment">
                <ul>
                    <li>
                        <a class="S_txt2" href="javascript:void(0);" id="showComment">
                            <em class="collect"> </em>
                            <em class="com_text"><%=project[0].comments||0%></em>
                        </a>
                    </li>
                    <!--<li>
                        <a class="S_txt2" href="javascript:void(0);" onclick="show()">
                            <em class="collect"> </em>
                            <em>留言</em>
                        </a>
                    </li>-->
                    <li>
                        <a class="S_txt2" href="javascript:void(0);">
                            <em class="collect">û</em>
                            <em>收藏</em>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="make " style="display: none;overflow: hidden;">
                <img src="/images/d9e5634djw1east9pi6bej2050050dfw.jpg" style="float: left">
                <div class="textarea" contenteditable="true" id="comment"></div>
                <button type="submit" onclick="make()">发表评论</button>
            </div>
            <!--评论列表-->
            <%- include('./common/comment.html',{id:project[0].projectId}) %>
        </div>
    </section>
</div>

<!--是否登陆-->
<div class="modal" style="display: none">
    <div class="layer">
        <div class="layer-top">
            <span>温馨提示</span>
            <div class="close">X</div>
        </div>
        <p>您还未进行登录，请先登录</p>
        <div class="layer-btn">
            <a href="/login">登录</a>
            <a href="/register">注册</a>
        </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script>

    $('#showComment').click(function () {
        var user = "<%=user%>";
        // console.log(user)
        if (user==undefined||user==null||user==''){
            $('.modal').toggle();
        }else{
            $('.make').toggle();
        }
    })

    function make() {
        var ele = document.getElementById('comment');
        var comment = ele.innerText;

        $.ajax({
            url:"/comment/<%=project[0].projectId%>",
            data: {comment:comment},
            type:"post",
            success:result=>{
                $('.com_text').html(result.comments);
                ele.innerText = '';

                let str = '';
                result.all.map(function (item) {
                    str = str + '<li><h3>' + item.uname + '&nbsp;&nbsp;' + format(item.createtime) + '</h3>' +
                        '<p>' + item.content + '</p> </li>'

                })
                $('.com-item ul').html(str);

                console.log(result)
            },
            error:err=>{console.log(err)}
        })
    }

    function format(value) {
        let d = new Date(value);
        let year = d.getFullYear();
        let month = d.getMonth() + 1;
        let date = d.getDate();
        let ih = d.getHours(), im = d.getMinutes(), is = d.getSeconds();
        console.log(year + '-' + (month < 10 ? ('0' + month) : month))
        return year + '-' +(month < 10 ? ('0' + month) : month) + '-' +
            (date < 10 ? ('0' + date) : date )+ '  ' + (ih < 10 ? ('0' + ih) : ih) + ':' +
            (im < 10 ? ('0' + im) : im )+ ':' + (is < 10 ? ('0' + is) : is);
    }
</script>
</body>
</html>
